node_modules/
dist/
.keystore/
*.keystore
*.jks
*.b64

android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/captures/
android/capacitor-cordova-android-plugins/
*.iml
